#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define MEDIA 1
#define NAV 2
#define MOUSE 3
#define SYM 4
#define NUM 5
#define FUNC 6

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            require-prior-idle-ms = <120>; /* tune to taste */
        };

        th: thumb_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        plus {
            bindings = <&kp PLUS>;
            key-positions = <7 19>;
            layers = <0>;
        };

        para-less {
            bindings = <&paraless>;
            key-positions = <20 19>;
            layers = <0>;
        };

        para-great {
            bindings = <&paragreat>;
            key-positions = <20 21>;
            layers = <0>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans  &kp Q       &kp W       &kp E         &kp R        &kp T        &kp Y        &kp U            &kp I         &kp O       &kp P          &trans
&trans  &hm LGUI A  &hm LALT S  &hm LSHIFT D  &hm LCTRL F  &kp G        &kp H        &hm RCTRL J      &hm RSHIFT K  &hm RALT L  &hm RGUI SEMI  &trans
&trans  &kp Z       &kp X       &kp C         &kp V        &kp B        &kp N        &kp M            &kp COMMA     &kp DOT     &kp FSLH       &trans
                                &th MEDIA ESC  &th NAV SPACE  &th MOUSE TAB    &th SYM ENTER  &th NUM BACKSPACE  &th FUNC DELETE
            >;
        };

        MEDIA {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans      &trans             &trans      &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans      &kp C_VOLUME_UP    &kp C_NEXT  &kp C_BRI_UP   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans      &kp C_VOLUME_DOWN  &kp C_PREV  &kp C_BRI_DEC  &trans  &trans
                        &trans  &trans  &trans    &kp C_MUTE  &kp C_PP           &kp C_NEXT
            >;

            label = "Media";
        };

        NAV {
            bindings = <
&trans  &trans   &kp SCROLLLOCK  &kp PAUSE_BREAK  &trans   &trans             &trans          &trans          &trans        &trans           &trans         &trans
&trans  &kp ESC  &kp DELETE      &kp HOME         &kp END  &kp PRINTSCREEN    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp PAGE_UP    &trans
&trans  &trans   &trans          &trans           &trans   &trans             &trans          &trans          &trans        &trans           &kp PAGE_DOWN  &trans
                                 &trans           &trans   &trans             &kp ENTER       &kp BACKSPACE   &kp DELETE
            >;

            label = "Nav";
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans      &trans       &trans    &kp K_REDO      &kp K_PASTE     &kp K_COPY    &kp K_CUT        &kp K_UNDO  &trans
&trans  &trans  &trans  &trans      &trans       &trans    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &mkp MB4    &trans
&trans  &trans  &trans  &kp K_COPY  &kp K_PASTE  &trans    &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &mkp MB5    &trans
                        &trans      &trans       &trans    &mkp LCLK       &mkp RCLK       &mkp MCLK
            >;

            label = "Mouse";
        };

        SYM {
            display-name = "Symbols";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL        &kp AT              &kp HASH          &kp DLLR              &kp PRCNT    &kp CARET  &kp AMPS              &kp ASTRK               &kp LEFT_PARENTHESIS   &kp RPAR                &trans
&trans  &hm LGUI GRAVE  &hm LALT BACKSLASH  &hm LSHIFT MINUS  &hm LEFT_CONTROL SQT  &kp EQUAL    &trans     &hm RCTRL LEFT_BRACE  &hm RSHIFT RIGHT_BRACE  &hm RALT LEFT_BRACKET  &hm RGUI RIGHT_BRACKET  &trans
&trans  &kp TILDE       &kp PIPE            &kp UNDERSCORE    &kp DOUBLE_QUOTES     &kp PLUS     &trans     &trans                &trans                  &trans                 &trans                  &trans
                                            &kp ESC           &kp SPACE             &kp TAB      &trans     &trans                &trans
            >;
        };

        NUM {
            bindings = <
&trans  &trans             &trans             &trans               &trans                     &trans          &trans        &trans                      &trans               &trans             &trans             &trans
&trans  &hm LGUI NUMBER_1  &hm LALT NUMBER_2  &hm LSHIFT NUMBER_3  &hm LEFT_CONTROL NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &hm RIGHT_CONTROL NUMBER_7  &hm RSHIFT NUMBER_8  &hm RALT NUMBER_9  &hm RGUI NUMBER_0  &trans
&trans  &trans             &trans             &trans               &trans                     &trans          &trans        &trans                      &trans               &trans             &trans             &trans
                                              &kp ESC              &kp SPACE                  &kp TAB         &trans        &trans                      &trans
            >;

            label = "Numbers";
        };

        FUNC {
            display-name = "Func";
            bindings = <
&trans  &trans        &trans        &trans        &trans      &trans            &trans  &trans   &trans   &studio_unlock  &bootloader  &trans
&trans  &kp F1        &kp F2        &kp F3        &kp F4      &kp F5            &kp F6  &kp F7   &kp F8   &kp F9          &kp F10      &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &bt BT_CLR_ALL    &trans  &kp F11  &kp F12  &trans          &trans       &trans
                                    &kp ESC       &kp SPACE   &kp TAB           &trans  &trans   &trans
            >;
        };
    };
};
